[submodule "LiskScripts"]
	path = LiskScripts
	url = https://github.com/LiskCommunityTools/LiskScripts.git
[submodule "liskak"]
	path = liskak
	url = https://github.com/LiskCommunityTools/liskak.git
[submodule "Lisk-fundsDistributor"]
	path = Lisk-fundsDistributor
	url = https://github.com/LiskCommunityTools/Lisk-fundsDistributor.git
